:root {
  --blue_1: #007acc;
  --gray_1: #333333;  /* side panel */
  --gray_2: #252526;  /* Explorador */
  --gray_2_1: #2a2d2e;  /* preselected item */
  --gray_2_2: #37373d;  /* active item */
  --gray_3: #1e1e1e;  /* work site */
  --gray_3_1: #2d2d2d;  /* unselected window */

  --icon_1: #787878;
  --icon_2: #f0f0f0; /* active icon */

  --text_1: #b4b4b5; /* defaul color */
  --text_2: #569CD6; /* funtion */
  --text_3: #569CD6; /* variable */
  --text_4: #6A9955; /* comments */
  --text_5: #9CDCFE; /* value */
  --text_6: #DCDCAA; /* function name */
  --text_7: #C586C0; /* default functions */
  --numbers: #6B6B6B;

  --tecno_1:#F1E05A;
  --tecno_2:#563D7C;
  --tecno_3:#178600;
  --tecno_4:#3572A5;
  --tecno_5:#E34C26;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito Sans', sans-serif; 
  color: var(--text_1);
  font-size: 82%;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
  font-weight: 200;
  color: var(--text_2);
  white-space: pre-wrap;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 1.5rem;
  color: var(--text_5);
}
ul {
  list-style: none;
}
button{
  width: max-content  ;
  padding: 10px;
  color: var(--blue_1);
  background-color: var(--gray_3);
  border: var(--blue_1) 1px solid;
  border-radius: 5px;
}
.hide_element{
  display: none !important;
}
.f_row{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.f_col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bold {
  font-weight: bold;
}
.simbol{
  color: var(--numbers);
}
.var{
  color: var(--text_5);
}
.function{
  color: var(--text_6);
}
.d_function{
  color: var(--text_7);
}
.commentary{
  color: var(--text_4);
}


/* desktop */
main {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 20px;
}
#principal {
  display: grid;
  grid-template-columns: 50px 150px auto;
  height: calc(100vh - 20px);
}


#control {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--gray_1);
}
.control_icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  stroke: var(--icon_1);
  cursor: pointer;
}
.control_icon:hover {
  stroke: var(--icon_2);
}


#view {
  width: 100%;
  height: 100%;
  background-color: var(--gray_2);
}
#view_top {
  padding: 10px;
}


.folder_title {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.folder_contend li { 
  padding: 4px 0;
  padding-left: calc(2ch + 5px);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.folder_contend li:hover {
  background-color: var(--gray_2_1);
  cursor: pointer;
}
.active_item{
  background-color: var(--gray_2_2);
}
.folder_icon{
  width: 2ch;
  height: 2ch;
  margin-right: 5px;
}
#work {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 30px auto;
}
#windows{
  display: flex;
  flex-direction: row;
  background-color: var(--gray_2);
}
#windows > div{
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  padding: 15px;

  background-color: var(--gray_3_1);
  cursor: pointer;
}
.windows_button{
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 2px;

  background-color: var(--gray_3_1);
  border-radius: 20%;
  border: none;

  color: var(--text_1);
  cursor: pointer;
}
.windows_button:hover{
  background-color: var(--gray_2_2);
}
#work_area{
  display: grid;
  grid-template-columns: 60px auto;
  background-color: var(--gray_3);
}
#numbers{
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  overflow: hidden;

  color: var(--numbers);
  gap: 2px;

  border-right: solid 1px var(--numbers);
}
#contend{
  width: 100%;
  height: 100%;
  padding-left: 5px;
}


#information_button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  background-color: var(--blue_1);
}
#information_left, #information_rigt{
  width: 100%;
  color: var(--icon_2);
}
#information_left >*, #information_rigt > *{
  display: inline-block;
  margin-left: 10px;
}
#information_rigt{
  display: flex;
  justify-content: flex-end;
}

/* raw data */

#intro,#about{
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  display: grid;
  grid-template-rows: min-content auto min-content;
}
#intro_contend{
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: start;
  gap: 100px;

  position: relative;
}
#intro_data{
  margin-left:100px ;

  display: grid;
  grid-template-columns: 700px  min-content;

  align-items: center;

  position: absolute;
  z-index: 1;
}
#intro_data > img{
  opacity: 0.05;
  height: 200px;
}
#matrix_placeholder{
  margin-left: 100px;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  height: 80%;
}
#matrix{
  width: 100%;
  height: 100%;
}


#about_contend{
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  margin: 0 10%;
  font-size: 1rem;
}
#about_data{
  display: grid;
  height: fit-content;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
}
#about_data > img{
  max-height: 300px;
  border-radius: 10px;
}
#about_data_contend{
  max-width: 700px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
#skills > *{
  display: inline-block;
  margin: 4px;
  padding: 8px;

  color: var(--text_4);
  background-color: var(--icon_2);
  font-weight: 800;
}


.card{
  max-width: 950px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 30px;

  border-radius: 5px;
  background-color: var(--gray_1);
  gap: 10px;
}
.card_up{
  display: grid;
  grid-template-columns: auto max-content;
  gap: 10px;
}
.card_title{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--blue_1);
}
.card_contend{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.card_tecnologis, .card_description, .card_data{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--gray_3);
}
.card_tecnologis{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

  font-size: 1.1rem;
  text-transform: uppercase;
}
.tecno_persent{
  color: var(--numbers);
}
.card_data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_data_higth{
  font-size: 1.25rem;
  font-weight: bold;
}
.card_img{
  height: 220px;
  border-radius: 5px;
}